use the print() function to print out the phrase: Hello, world!

In [19]:
print("Hello, world!")

Hello, world!

use the type() function to check the object type of 12.0.

In [20]:
type(12.0)

float

What is the data type of the result of: 6 / 2?

In [21]:
type(6/2)

float

What is the type of the result of: 6 // 2?

In [22]:
type(6//2)

int

write an expression that calculates how many hours there are in 160 minutes:

In [23]:
160//60

2

What is the value of x where x = 3 + 2 * 2

In [24]:
x = 3 + 2 * 2
print(x)

7

What is the value of y where y = (3 + 2) * 2?

In [25]:
y = (3 + 2) * 2
print(y)

10

What is the value of z where z = x + y?

In [26]:
z = x + y
print(z)

17

What is the value of the variable A after the following code is executed?

In [2]:
A='1'

In [5]:
A

'1'

What is the value of the variable B after the following code is executed?

In [6]:
B='2'

In [7]:
B

'2'

What is the value of the variable C after the following code is executed?

In [12]:
C =A + B

In [13]:
C

'12'

Consider the variable D use slicing to print out the first three elements:

In [14]:
D = "ABCDEFG"

In [16]:
print(D[:3])

ABC

Use a stride value of 2 to print out every second character of the string E:

In [17]:
E = 'clocrkr1e1c1t'

In [18]:
print(E[::2])

correct

Print out a backslash:

In [27]:
print("\\")

\

Convert the variable F to uppercase:

In [28]:
F = "You are wrong"
F.upper()

'YOU ARE WRONG'

Consider the variable G, and find the first index of the sub-string snow:

In [29]:
G = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"
G.find("snow")

95

In the variable G, replace the sub-string Mary with Bob:

In [30]:
G.replace("Mary", "Bob")

'Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go'

Consider the following tuple:

In [1]:
# sample tuple 

genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

Find the length of the tuple, genres_tuple:

In [2]:
len(genres_tuple)

8

Access the element, with respect to index 3:

In [3]:
genres_tuple[3]

'hard rock'

Use slicing to obtain indexes 3, 4 and 5:

In [4]:
genres_tuple[3:6]

('hard rock', 'soft rock', 'R&B')

Find the first two elements of the tuple genres_tuple:

In [5]:
genres_tuple[0:2]

('pop', 'rock')

Find the index of "disco":

In [6]:
genres_tuple.index("disco")

7

Generate a sorted List from the Tuple C_tuple=(-5, 1, -3):

In [7]:
C_tuple = (-5,1,-3)
C_list = sorted(C_tuple)
C_list

[-5, -3, 1]

Create a list a_list, with the following elements 1, hello, [1,2,3] and True.

In [8]:
a_list=[1, 'hello', [1,2,3 ] , True]
a_list

[1, 'hello', [1, 2, 3], True]

Find the value stored at index 1 of a_list.

In [9]:
a_list[1]

'hello'

Retrieve the elements stored at index 1, 2 and 3 of a_list.

In [10]:
a_list[1:4]

['hello', [1, 2, 3], True]

Concatenate the following lists A = [1, 'a'] and B = [2, 1, 'd']:

In [11]:
A = [1, 'a']
B = [2, 1, 'd']
A + B

[1, 'a', 2, 1, 'd']

Convert the list ['rap','house','electronic music', 'rap'] to a set:

set(['rap','house','electronic music','rap'])

Consider the list A = [1, 2, 2, 1] and set B = set([1, 2, 2, 1]), does sum(A) = sum(B)

In [11]:
A = [1, 2, 2, 1]  
B = set([1, 2, 2, 1])
print("the sum of A is:", sum(A))
print("the sum of B is:", sum(B))

the sum of A is: 6
the sum of B is: 3

Create a new set album_set3 that is the union of album_set1 and album_set2:

In [12]:
album_set3 = album_set1.union(album_set2)
album_set3

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

Find out if album_set1 is a subset of album_set3:

In [13]:
album_set1.issubset(album_set3)

True

You will need this dictionary for the next two questions:

In [14]:
soundtrack_dic = {"The Bodyguard":"1992", "Saturday Night Fever":"1977"}
soundtrack_dic

{'The Bodyguard': '1992', 'Saturday Night Fever': '1977'}

a) In the dictionary soundtrack_dict what are the keys ?

In [15]:
soundtrack_dic.keys() # The Keys "The Bodyguard" and "Saturday Night Fever"

dict_keys(['The Bodyguard', 'Saturday Night Fever'])

b) In the dictionary soundtrack_dict what are the values ?

In [16]:
soundtrack_dic.values() # The values are "1992" and "1977"

dict_values(['1992', '1977'])

a) Create a dictionary album_sales_dict where the keys are the album name and the sales in millions are the values.

In [19]:
album_sales_dict = {"The Bodyguard":50, "Back in Black":50, "Thriller":65}

b) Use the dictionary to find the total sales of Thriller:

In [18]:
album_sales_dict["Thriller"]

65

c) Find the names of the albums from the dictionary using the method keys:

In [20]:
album_sales_dict.keys()

dict_keys(['The Bodyguard', 'Back in Black', 'Thriller'])

d) Find the names of the recording sales from the dictionary using the method values:

In [21]:
album_sales_dict.values()

dict_values([50, 50, 65])

Write an if statement to determine if an album had a rating greater than 8. Test it using the rating for the album “Back in Black” that had a rating of 8.5. If the statement is true print "This album is Amazing!"

In [22]:
rating = 8.5
if rating > 8:
    print ("This album is Amazing!")

This album is Amazing!

Write an if-else statement that performs the following. If the rating is larger then eight print “this album is amazing”. If the rating is less than or equal to 8 print “this album is ok”.

In [28]:
rating = 8.5
if rating > 8:
    print ("this album is amazing")
else:
    print ("this album is ok")

this album is amazing

Write an if statement to determine if an album came out before 1980 or in the years: 1991 or 1993. If the condition is true print out the year the album came out.

In [29]:
album_year = 1979

if album_year < 1980 or album_year == 1991 or album_year == 1993:
    print ("this album came out already")

this album came out already

Write a for loop the prints out all the element between -5 and 5 using the range function.

In [30]:
for i in range(-5, 6):
    print(i)

-5
-4
-3
-2
-1
0
1
2
3
4
5

Print the elements of the following list: Genres=[ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop'] Make sure you follow Python conventions.

In [31]:
Genres = ['rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']
for Genre in Genres:
    print(Genre)

rock
R&B
Soundtrack
R&B
soul
pop

Write a for loop that prints out the following list: squares=['red', 'yellow', 'green', 'purple', 'blue']

In [32]:
squares=['red', 'yellow', 'green', 'purple', 'blue']
for square in squares:
    print(square)

red
yellow
green
purple
blue

Write a while loop to display the values of the Rating of an album playlist stored in the list PlayListRatings. If the score is less than 6, exit the loop. The list PlayListRatings is given by: PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]

In [33]:
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]
i = 1
Rating = PlayListRatings[0]
while(Rating >= 6):
    print(Rating)
    Rating = PlayListRatings[i]
    i = i + 1

10
9.5
10
8
7.5

Write a while loop to copy the strings 'orange' of the list squares to the list new_squares. Stop and exit the loop if the value on the list is not 'orange':

In [1]:
squares = ['orange', 'orange', 'purple', 'blue ', 'orange']
new_squares = []
i = 0
while(squares[i] == 'orange'):
    new_squares.append(squares[i])
    i = i + 1
print (new_squares)

['orange', 'orange']